#{extends 'admin.html' /}
 
<h3>Write, <span>a new phrase</span></h3>
 
#{form @save(myPhrase?.id)}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
     
 
    <p>
        #{field 'phrase'}
        <label>Write here:</label>
        <textarea name="${field.name}" 
            class="${field.errorClass}">${myPhrase?.phrase}</textarea>
        #{/field}
    </p>
 
    <p>
        #{field 'authors'}
        <label>Auteurs (séparés par un espace):</label>
        <input type="text" size="50" 
            name="${field.name}" value="${myPhrase?.authors?.join(' ')}" />
        #{/field}
    </p>
    
    <p>
        <input type="submit" value="Publish this post to the blog" />
    </p>
    
#{/form}
