#{extends 'main.html' /}
#{set title:'Home' /}

#{if latestPhrase}
    
    #{displayPhrase post:latestPhrase, as:'home' /}
    
    
    
        <div class="older-posts">
            <h3>Les ptites phrases précédentes</h3>
       		#{paginate.list items:paginator, as:'oldPhrase'}
    			#{displayPhrase post:oldPhrase, as:'' /}
    		#{/paginate.list} 
    		#{paginate.controls items:paginator /} 
        </div>
        
    
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
