#{extends 'main.html' /}
#{set title:'Home' /}

#{if latestPhrase}
    
    #{displayPhrase post:latestPhrase, as:'home' /}
    
    #{if olderPhrases.size()}
    
        <div class="older-posts">
            <h3>Les ptites phrases précédentes</h3>
        
            #{list items:olderPhrases, as:'oldPhrase'}
                #{displayPhrase post:oldPhrase, as:'' /}
            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
